<table class="table table-bordered">
    <thead>
    <tr>
        <th class="col-md-3">Imię</th>
        <th class="col-md-5">Nazwisko</th>
        <th class="col-md-2">Wiek</th>
        <th class="col-md-2">Płeć</th>
    </tr>
    </thead>
    <tbody>
    {{#eachInMap users}} 
    <tr id="tableRow{{key}}">
            <td>{{value.name}}</td>
            <td>{{value.surname}}</td>
            <td>{{value.age}}</td>
            <td>{{value.sex}}</td>
    </tr>
    {{/eachInMap}}
    </tbody>
</table>